/* Base styles from index.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Roboto", "Merriweather", sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #ffffff;
    overflow-x: hidden;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    position: fixed;
    height: 100vh;
    top: 0;
    width: 80px;
    background-color: #fff;
    color: #000;
    border-right: 2px solid #e7e7e7;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.desktop-nav {
    display: block;
}

.mobile-nav {
    display: none;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #000;
}

.sidebar nav ul {
    list-style-type: none;
    text-align: center;
}

.sidebar nav ul li {
    margin: 40px 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 0;
    border-radius: 5px;
}

.sidebar nav ul li a:hover {
}

.sidebar nav ul li a img {
    scale: 1.1;
    filter: invert(33%) saturate(200%) hue-rotate(323deg) brightness(95%) contrast(105%);
}

.sidebar nav ul li a img:hover {
    filter: invert(33%) saturate(200%) hue-rotate(323deg) brightness(95%) contrast(1050%);
}

.sidebar hr {
    border: 0.5px solid #c8c8c8;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding-left: 80px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 2px solid #e7e7e7;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-bar {
    flex-grow: 1;
    max-width: 500px;
    margin-right: 20px;
}

.search-bar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    outline: none;
    transition: border 0.3s;
}

.search-bar input:focus {
    border-color: #000;
}

.header-icons {
    display: flex;
    align-items: center;
}

.header-icons .icon {
    font-size: 24px;
    margin-right: 20px;
    cursor: pointer;
    color: #000;
    transition: color 0.3s;
}

.header-icons .icon:hover {
    color: #555;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 10px;
    margin-left: -5px
}

#user-name {
    font-weight: bold;
    font-size: 16px;
    color: #000;
}

main {
    flex-grow: 1;
    padding: 60px 270px;
    background-color: #fff;
}

/* Specific styles for article page */
.article-content {
    margin: 10px 60px;
}

#article-title {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 10px;
    font-family: 'Roboto';
    line-height: 1.2;
}

#article-topic {
    padding: 12px;
    background: #f6f6f6;
    font-family: 'Roboto';
    font-size: 17px;
    border-radius: 10px;
    width: fit-content;
    user-select: none;
    margin-top: 10px;
}

#article-image {
    width: 90%;
    height: auto;
    max-height: 70vh;
    margin-bottom: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    
}

.seperate {
    border: 1px solid #dddddd;
    margin-bottom: 30px;
}

main hr {
    border: 1px solid #ececec;
    margin-top: 35px;
}

#article-content {
    font-size: 18px;
    line-height: 1.6;
    font-size: 22px;
    font-family: "Merriweather", serif;
    font-weight: 100;
    color: #303030;
}

/* Styles for author info */
.author-info {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.author-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin-right: 10px;
}

.author-details {
    display: flex;
    flex-direction: column;
}

.author-name a {
    font-size: 20px;
    font-weight: 100;
    color: #303030;
    font-family: 'Open Sans';
    margin-bottom: 4px;
    text-decoration: none;
}

.author-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.publish-date {
    font-size: 14px;
    color: #757575;
    font-family: 'Open Sans';
}


/* Loading screen styles */
#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#loading-content {
    text-align: center;
    width: 100%;
}

#loading-content img {
    height: 100px;
    width: 100px;
    border-radius: 15px;
}

#loading-bar-container {
    width: 50%;
    height: 7px;
    background: #e0e0e0;
    margin-top: 50px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    left: 50%;
    transform: translateX(50%);
}

#loading-bar {
    width: 0;
    height: 100%;
    background: #757575;
    border-radius: 10px;
    transition: 1.5s ease;
}

iframe {
    width: 90%;
    margin-left: 5%;
    height: auto;
    aspect-ratio: 1.8/1;
}

/* Media query for mobile devices with a max width of 700px */
@media (max-width: 900px) {
    /* Adjust body and container layout */
    body {
        flex-direction: column;
        height: auto;
        overflow-x: hidden;
    }

    .container {
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 0;
    }

    /* Sidebar fixed at the bottom */
    .sidebar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 65px;
        margin-top: calc(100vh - 65px);
        border-right: none;
        border-top: 2px solid #e7e7e7;
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Ensures items are spaced evenly with space at top and bottom */
        padding: 10px 0;
        background-color: #fff; /* Ensure the background is solid */
        z-index: 1000; /* Ensure it stays on top of other content */
        padding-right: 50px;
        padding-left: 0;
        padding-bottom: 30px;
    }

    .desktop-nav {
        display: none;
    }
    
    .mobile-nav {
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: flex-end; /* Aligns items at the bottom of the sidebar */
        flex-grow: 1; /* Makes sure the nav takes up available space */
    }

    .mobile-no-display {
        display: none;
    }

    .sidebar nav ul {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        width: 100%;
        justify-content: space-around;
        margin-top: auto; /* Pushes the items to the bottom */
    }

    .sidebar nav ul li {
        margin: 0;
    }

    .sidebar nav ul li a {
        display: inline-block;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
    }

    .sidebar nav ul li a img {
        width: 27px; /* Adjusted icon size for mobile */
        height: 27px;
    }

    .sidebar nav ul li a .this-page-selects {
        width: 26px;
        height: 26px;
        filter: invert(33%) saturate(200%) hue-rotate(323deg) brightness(95%) contrast(1050%);
    }

    .user-circle {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background-color: #ccc;
        background-size: cover;
        background-position: center;
        position: absolute;
        bottom: 10px;
        margin-top: -20px;
    }

    /* Main content area */
    .main-content {
        padding: 20px 20px 120px 20px;
    }

    main {
        padding: 0;
    }

    .tabs {
        margin: 0;
        padding: 10px;
        margin-bottom: 0;
        width: 100%;
        border-bottom: 1px solid #eaeaea;
    }

    .tab {
        padding: 10px;
        font-size: 14px; /* Adjust font size for mobile */
    }

    #articles-container {
        padding: 0;
    }

    .article {
        flex-direction: column;
        align-items: flex-start;
        padding: 30px 0 30px 0;
        margin-bottom: 10px;
    }

    .author-name {
        font-weight: 400;
        font-size: 14px;
        color: #636363;
        font-family: 'Roboto';  
    }
    
    .publish-date {
        font-family: "Roboto";
        font-size: 15px;
        font-weight: 200;
        color: #666;
        margin-top: 0;
    }

    .article-text {
        width: 64%;
        margin-right: 6%;
    }

    .article-title {
        font-size: 23px;
        margin: 0;
        margin-bottom: 0;
        font-family: "Merriweather";
        color: #000;
        font-weight: 900;
        letter-spacing: -0.5px;
    }
    
    .article-excerpt {
        font-size: 17px;
        margin: 0;
        font-family: 'Roboto';
        color: #434343;
        line-height: 24px;
        margin-bottom: 10px;
        width: 100%;
    }

    .article-image {
        position: relative;
        width: 30%;
        height: auto;
        border-radius: 3px;
        flex: 0 1 auto; /* Element 2 will take only as much space as it needs */
        aspect-ratio: 1.6/1;
        flex-shrink: 1;
        object-position: center;
        object-fit: cover;
        background-repeat: no-repeat;
        z-index: 10;
    }

    #loading-content img {
        width: 80px;
        height: 80px;
    }

    .author-info {
        margin-top: 22px;
    }

    iframe {
        width: 90%;
        margin-left: 5%;
        height: auto;
        aspect-ratio: 1.749/1;
    }
}

