/* Base styles from index.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Roboto", "Merriweather", sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #ffffff;
    overflow-x: hidden;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    position: fixed;
    height: 100vh;
    top: 0;
    width: 80px;
    background-color: #fff;
    color: #000;
    border-right: 2px solid #e7e7e7;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.desktop-nav {
    display: block;
}

.mobile-nav {
    display: none;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #000;
}

.sidebar nav ul {
    list-style-type: none;
    text-align: center;
}

.sidebar nav ul li {
    margin: 40px 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 0;
    border-radius: 5px;
}

.sidebar nav ul li a:hover {
}

.sidebar nav ul li a img {
    scale: 1.1;
    filter: invert(33%) saturate(200%) hue-rotate(323deg) brightness(95%) contrast(105%);
}

.sidebar nav ul li a img:hover {
    filter: invert(33%) saturate(200%) hue-rotate(323deg) brightness(95%) contrast(1050%);
}

.sidebar hr {
    border: 0.5px solid #c8c8c8;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding-left: 80px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 2px solid #e7e7e7;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-bar {
    flex-grow: 1;
    max-width: 500px;
    margin-right: 20px;
}

.search-bar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    outline: none;
    transition: border 0.3s;
}

.search-bar input:focus {
    border-color: #000;
}

.header-icons {
    display: flex;
    align-items: center;
}

.header-icons .icon {
    font-size: 24px;
    margin-right: 20px;
    cursor: pointer;
    color: #000;
    transition: color 0.3s;
}

.header-icons .icon:hover {
    color: #555;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 10px;
    margin-left: -5px
}

#user-name {
    font-weight: bold;
    font-size: 16px;
    color: #000;
}

main {
    flex-grow: 1;
    padding: 60px 270px;
    background-color: #fff;
}

/* Specific styles for article page */
.article-content {
    margin: 10px 60px;
}

#article-title {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 10px;
    font-family: 'Roboto';
    line-height: 1.2;
}

#article-topic {
    padding: 12px;
    background: #f6f6f6;
    font-family: 'Roboto';
    font-size: 16px;
    border-radius: 10px;
    width: fit-content;
    margin-top: 20px;
}

#article-image {
    width: 90%;
    height: auto;
    max-height: 70vh;
    margin-bottom: 20px;
    margin-left: 5%;
    object-fit: cover;    
}

.seperate {
    border: 0.1px solid #f5f5f5;
    margin-bottom: 7px;
    margin-top: 10px;
}

.seperate-2 {
    border: 0.1px solid #f5f5f5;
    margin-bottom: 30px;
    margin-top: 7px;
}

#article-content hr {
    border: 1px solid #a6a6a6;
    margin-top: 35px;
    width: 95%;
    margin-left: 2.5%;
}

#article-content {
    font-size: 18px;
    line-height: 1.6;
    font-size: 22px;
    font-family: "Merriweather", serif;
    font-weight: 100;
    color: #303030;
}

/* Styles for author info */
.author-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.author-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin-right: 10px;
}

.author-details {
    display: flex;
    flex-direction: column;
}

.author-name a {
    font-size: 19px;
    font-weight: 200;
    color: #303030;
    /*font-family: "Open Sans";*/
    margin-bottom: 12px;
    text-decoration: none;
}

.author-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.publish-date {
    margin-top: 3px;
    font-size: 16px;
    color: #757575;
    font-family: 'Open Sans';
}

.article-features {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.clap-item {
    display: flex;
    align-items: center;
    margin: 0 5px;
    cursor: pointer;
    filter: invert(33%) saturate(200%) hue-rotate(323deg) brightness(95%) contrast(105%);
}

.comment-item {
    display: flex;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
    filter: invert(33%) saturate(200%) hue-rotate(323deg) brightness(95%) contrast(105%);
}

.clap-item:hover, .comment-item:hover {
    cursor: pointer;
    filter: invert(33%) saturate(200%) hue-rotate(323deg) brightness(95%) contrast(1050%);
}

.clap-comment-img {
    width: 25px;
    height: 25px;
    margin: 0 6px;
}

.article-features span {
    font-weight: 100;
    margin-top: 3px;
    font-size: 14px;
}

.feature-icon {
    width: 25px;
    height: 25px;
    margin: 0 12px;
    filter: invert(33%) saturate(200%) hue-rotate(323deg) brightness(95%) contrast(105%);
}

.feature-icon:hover {
    cursor: pointer;
    filter: invert(33%) saturate(200%) hue-rotate(323deg) brightness(95%) contrast(1050%);
}

.spacer {
    flex-grow: 1;
    height: 30px;
}

.article-actions {
    display: none;
    justify-content: center;
    margin-top: 90px;
}

.article-actions span {
    font-size: 14px;
    margin-top: 0px;
    letter-spacing: 0.5px;
    color: #454545;
}

.clap-button {
    display: flex;
    align-items: center;
    margin: 0 5px;
    padding: 9px 50px;
    background: #f2f2f2;
    color: #000;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #f2f2f2;
    width: 175px;
}
/*
.clap-button img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(200%) contrast(100%);
}*/

.clap-button:hover {
    background: #eeeeee;
}

.comment-button {
    display: flex;
    align-items: center;
    margin: 0 10px;
    padding: 9px 35px;
    background: #f2f2f2;
    color: #000;
    border: 1px solid #f2f2f2;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    width: 175px;
}

.comment-button:hover {
    background: #eeeeee;
}

.action-icon {
    width: 24px;  /* Adjust the size as needed */
    height: 24px;
    margin-right: 10px;
}


.clap-item.echoed {
    filter: invert(33%) saturate(200%) hue-rotate(323deg) brightness(95%) contrast(1050%);
}

.clap-button.echoed {
    background-color: #dfdfdf;
    border: 1px solid #454545;
    width: 175px;
    padding: 9px 40px;
}

.clap-button.echoed:hover {
    background-color: #dfdfdf;
    border: 1px solid #454545;
}


/* Loading screen styles */
#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;

    transition: opacity 0.3s ease;
}

.hidden {
    opacity: 0;
}

#loading-content {
    text-align: center;
    width: 100%;
}

#loading-content img {
    height: 100px;
    width: 100px;
    border-radius: 0;
    -webkit-user-drag: none;
}

#loading-bar-container {
    width: 50%;
    height: 7px;
    background: #e0e0e0;
    margin-top: 50px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    left: 50%;
    transform: translateX(50%);
}

#loading-bar {
    width: 0;
    height: 100%;
    background: linear-gradient(45deg, 
    #f09433 0%, 
    #e6683c 17%, 
    #dc2743 33%, 
    #cc2366 50%, 
    #bc1888 66%, 
    #8818bc 80%,
    #8040e6 85%,
    #405DE6 100%);
    border-radius: 10px;
    transition: 1.3s ease;
}

iframe {
    width: 90%;
    margin-left: 5%;
    height: auto;
    aspect-ratio: 1.8/1;
}

#writer-info-and-more-articles {
    display: none;
    justify-content: space-between;
    margin-top: 0;
    width: 100%;
    background: #fff;
    padding: 40px 90px;
    font-family: "Roboto Flex", sans-serif;
}
/*
.after-article-profile {
    background: #f9f9f9;
    padding: 50px 265px;
    width: calc(100%-0);
}*/

.after-article-profile {
    background: #f9f9f9;
    padding: 50px 265px;
    width: calc(100%-0);
    display: none;
    align-items: center; /* Vertically center align items */
    justify-content: space-between; /* Align items with space between */
}

.inside-after-article-profile {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start of the flex container */
    flex: 1; /* Take up remaining space */
}

#writer-info {
    width: 55%;
}

.after-writer-hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #f3f3f3;
    width: 80%;
    margin-left: 10%;
}

.writer-profile-pic {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-bottom: 10px;
    -webkit-user-drag: none;
    object-fit: cover;
    object-position: center;
}

.writer-profile {
    margin-bottom: 20px;
}

#writer-name {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #000;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 600;
}

#writer-name:hover {
    text-decoration: underline;
}

#writer-about {
    font-size: 17px;
    margin-top: 10px;
    color: #555;
    font-family: "Roboto Flex", sans-serif;
    width: 100%;
}

#follow-user-btn {
    position: absolute;
    margin-top: 0;
    padding: 9px 10px;
    width: 140px;
    border-radius: 50px;
    color: #fff;
    border: 1px solid #000;
    font-weight: 600;
    background: #000;
    user-select: none;
    height: 40px;
    right: 300px;
    margin-top: -80px;
}

#follow-user-btn:hover {
    cursor: pointer;
    color: #fff;
    border: 1px solid #454545;
    background: #454545;
}

#follow-user-btn.unfollow-btn {
    background: transparent;
    color: #454545;
    border: 1px solid #454545;
}

#follow-user-btn.unfollow-btn:hover {
    color: #757575;
    border: 1px solid #757575;
}

/*Comments container*/
#comments-container {

    padding-right: 10px;
    padding-left: 10px;
}

.comments-count-2 {
    font-size: 20px;
    font-family: "Roboto";
    margin-bottom: 20px;
    font-weight: 500;
}

#comment-input-container {
    position: relative;
    margin-bottom: 1rem;
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    padding-top: 10px;
    transition: ease-in-out 0.2s;
    box-shadow: 0 0 15px #d1d1d1;
}

#comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    transition: ease 0s;
    user-select: none;
}

.comment-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

#comment-textarea {
    width: 100%;
    height: 30px;
    resize: none;
    transition: height 0.3s ease;
    font-size: 16px;
    border: none;
    outline: none;
    background: none;
}

#comment-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    transition: ease 0s;
    transition-delay: 0.0s;
}

#comment-cancel-button {
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #000;
}

#comment-cancel-button:hover {
    color: #454545;
}

#comment-submit-button {
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 50px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#comment-submit-button:hover {
    background: #454545;
}

.hidden {
    opacity: none;
    pointer-events: none;
    margin-top: 0;
    transition: ease 0.3s;
    display: none;
    height: 0;
}

#comment-input-container.when-hidden {
    height: 60px;
    transition: height ease 0.3s;
    transition-delay: 0.6s;
    box-shadow: 0 0 15px #eeeeee;
}

#existing-comments-container {
    margin-top: 1rem;
}

.comment {
    padding: 0.5rem 0;
}

.comment-hr {
    border: 0.1px solid #f0f0f0;
    margin-top: 15px;
    margin-bottom: 10px;
}

.comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.comment-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 0.75rem;
    object-fit: cover;
    object-position: center;
    -webkit-user-drag: none;
}

.comment-author {
    font-weight: bold;
    user-select: none;
}

.comment-date {
    margin-left: 6px;
}

.comment-text {
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    color: #636363;
}




#articles-container {
    width: 40%;
    background: #fff;
}

.article-more {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
}

.article-image-more {
    width: 180px;
    height: 106px;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1.7/1;
    border-radius: 8px;
}

.article-content-more {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    margin-left: 10px;
    margin-top: 5px;
}

.article-content-more h3 {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 6px;
}

.article-content-more .author-name-more {
    font-size: 15px;
    font-weight: 500;
}

.article-link {
    text-decoration: none;
    color: inherit;
}

.echo-container-more {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.clap-comment-img-more {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.count-more {
    font-size: 15px;
    color: #757575;
}

.echo-container-more .publish {
    margin-left: 5px;
    font-size: 15px;
    font-weight: 100;
    color: #757575;
}

#observer {
    position: relative;
}


/* Skeleton loader styles */
.skeleton {
    background-color: #e0e0e0;
    border-radius: 4px;
    margin: 10px 0;
    position: relative;
    overflow: hidden;
}

.skeleton::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
    animation: loading 1.3s infinite;
}

@keyframes loading {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

/* Specific skeleton loader styles */
.skeleton-title {
    width: 100%;
    height: 8vh;
    margin-bottom: 2vh;
}

.skeleton-text {
    width: 100%;
    height: 3.5vh;
    margin-bottom: 0.8vh;
}

.skeleton-image {
    width: 90%;
    height: 35vh;
    margin-left: 5%;
    margin-bottom: 2vh;
}

.skeleton-author {
    width: 50%;
    height: 4vh;
    margin-bottom: 2vh;
}

.skeleton-echo {
    width: 25%;
    height: 3.5vh;
}

.skeleton-loader {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    padding: 20px;
    overflow: hidden;
}

body.no-scroll {
    overflow: hidden;
}



/* Media query for mobile devices with a max width of 700px */
@media (max-width: 900px) {
    /* Adjust body and container layout */
    body {
        flex-direction: column;
        height: auto;
        overflow-x: hidden;
    }

    .container {
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 0;
    }

    /* Sidebar fixed at the bottom */
    .sidebar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 65px;
        margin-top: calc(100vh - 65px);
        border-right: none;
        border-top: 2px solid #e7e7e7;
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Ensures items are spaced evenly with space at top and bottom */
        padding: 10px 0;
        background-color: #fff; /* Ensure the background is solid */
        z-index: 1000; /* Ensure it stays on top of other content */
        padding-right: 50px;
        padding-left: 0;
        padding-bottom: 30px;
    }

    .desktop-nav {
        display: none;
    }
    
    .mobile-nav {
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: flex-end; /* Aligns items at the bottom of the sidebar */
        flex-grow: 1; /* Makes sure the nav takes up available space */
    }

    .mobile-no-display {
        display: none;
    }

    .sidebar nav ul {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        width: 100%;
        justify-content: space-around;
        margin-top: auto; /* Pushes the items to the bottom */
    }

    .sidebar nav ul li {
        margin: 0;
    }

    .sidebar nav ul li a {
        display: inline-block;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
    }

    .sidebar nav ul li a img {
        width: 27px; /* Adjusted icon size for mobile */
        height: 27px;
    }

    .sidebar nav ul li a .this-page-selects {
        width: 26px;
        height: 26px;
        filter: invert(33%) saturate(200%) hue-rotate(323deg) brightness(95%) contrast(1050%);
    }

    .user-circle {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background-color: #ccc;
        background-size: cover;
        background-position: center;
        position: absolute;
        bottom: 10px;
        margin-top: -20px;
    }

    /* Main content area */
    .main-content {
        padding: 20px 20px 120px 20px;
    }

    main {
        padding: 0;
    }

    .tabs {
        margin: 0;
        padding: 10px;
        margin-bottom: 0;
        width: 100%;
        border-bottom: 1px solid #eaeaea;
    }

    .tab {
        padding: 10px;
        font-size: 14px; /* Adjust font size for mobile */
    }

    #articles-container {
        padding: 0;
    }

    .article {
        flex-direction: column;
        align-items: flex-start;
        padding: 30px 0 30px 0;
        margin-bottom: 10px;
    }

    .author-name {
        font-weight: 400;
        font-size: 14px;
        color: #636363;
        font-family: 'Roboto';  
    }
    
    .publish-date {
        font-family: "Roboto";
        font-size: 15px;
        font-weight: 200;
        color: #666;
        margin-top: 0;
    }

    .article-text {
        width: 64%;
        margin-right: 6%;
    }

    .article-title {
        font-size: 23px;
        margin: 0;
        margin-bottom: 0;
        font-family: "Merriweather";
        color: #000;
        font-weight: 900;
        letter-spacing: -0.5px;
    }
    
    .article-excerpt {
        font-size: 17px;
        margin: 0;
        font-family: 'Roboto';
        color: #434343;
        line-height: 24px;
        margin-bottom: 10px;
        width: 100%;
    }

    .article-image {
        position: relative;
        width: 30%;
        height: auto;
        border-radius: 3px;
        flex: 0 1 auto; /* Element 2 will take only as much space as it needs */
        aspect-ratio: 1.6/1;
        flex-shrink: 1;
        object-position: center;
        object-fit: cover;
        background-repeat: no-repeat;
        z-index: 10;
    }

    #loading-content img {
        width: 80px;
        height: 80px;
    }

    .author-info {
        margin-top: 22px;
    }

    iframe {
        width: 90%;
        margin-left: 5%;
        height: auto;
        aspect-ratio: 1.749/1;
    }
}

