/* Base styles from index.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #ffffff;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    position: fixed;
    height: 100vh;
    top: 0;
    width: 80px;
    background-color: #fff;
    color: #000;
    border-right: 2px solid #e7e7e7;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #000;
}

.sidebar nav ul {
    list-style-type: none;
    text-align: center;
}

.sidebar nav ul li {
    margin: 40px 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 0;
    border-radius: 5px;
}

.sidebar nav ul li a:hover {
}

.sidebar nav ul li a img {
    scale: 1.1;
    filter: invert(33%) saturate(200%) hue-rotate(323deg) brightness(95%) contrast(105%);
}

.sidebar nav ul li a img:hover {
    filter: invert(33%) saturate(200%) hue-rotate(323deg) brightness(95%) contrast(1050%);
}

.sidebar hr {
    border: 0.5px solid #c8c8c8;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 2px solid #e7e7e7;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-bar {
    flex-grow: 1;
    max-width: 500px;
    margin-right: 20px;
}

.search-bar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    outline: none;
    transition: border 0.3s;
}

.search-bar input:focus {
    border-color: #000;
}

.header-icons {
    display: flex;
    align-items: center;
}

.header-icons .icon {
    font-size: 24px;
    margin-right: 20px;
    cursor: pointer;
    color: #000;
    transition: color 0.3s;
}

.header-icons .icon:hover {
    color: #555;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 10px;
    margin-left: -5px
}

#user-name {
    font-weight: bold;
    font-size: 16px;
    color: #000;
}

main {
    flex-grow: 1;
    padding: 0;
    background-color: #fff;
    margin-left: 80px;
    width: calc(100% - 80px);
    padding-bottom: 100px;
}

main h1 {
    font-family: "Roboto";
    /*font-family: "Merriweather", serif;
    font-family: "Open Sans";*/
    font-weight: 600;
    font-style: normal;
    text-align: center;
}

/* Specific styles for create article page */
.create-post-form {
    width: 100%;
    background-color: #fff;
    padding: 30px 250px;
    padding-bottom: 200px;
}

.form-group #image {
    width: 100%;
    padding: 10px 20px;
    background: #f3f3f3;
    border: none;
    outline: none;
    border-radius: 20px;
    overflow-x: scroll;
    margin-bottom: 20px;
}

.form-group #title {
    padding: 10px;
    border: none;
    width: 100%;
    background: #fff;
    outline: none;
    font-size: 25px;
    font-family: "Merriweather", serif;
    font-weight: 600;
    margin-bottom: -16px;
    line-height: 1.5; /* Adjust based on your font size and design */
    min-height: 1.5em; /* This should match the line-height value */
    resize: none; /* Disable manual resizing */
    overflow-y: hidden;
}

.form-group #title::placeholder {
    color: #3a3a3a;
}

.form-group #description {
    padding: 10px;
    border: none;
    width: 100%;
    background: #fff;
    color: #6c6c6c;
    outline: none;
    font-size: 22px;
    font-family: "Merriweather", serif;
    font-weight: 300;
    margin-bottom: -16px;
    line-height: 1.5; /* Adjust based on your font size and design */
    min-height: 1.5em; /* This should match the line-height value */
    resize: none; /* Disable manual resizing */
}

.form-group #content {
    padding: 10px 10px;
    border: none;
    width: 100%;
    background: #fff;
    border: none;
    outline: none;
    font-size: 22px;
    font-family: "Merriweather", serif;
    font-weight: 100;
    font-style: normal;
    line-height: 1.6;
    min-height: 1.5em;
    resize: none;
}

.form-group #content::-webkit-scrollbar {
    display: none;
}

.form-group input[type="file"] {
    width: 100%;
    background: #f7f7f7;
    border: none;
    outline: none;
}

#create-article-form textarea {
    height: 200px;
    resize: vertical;
}

#error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 20px;
}

.submit-button {
    font-family: "Roboto";
    padding: 10px 55px;
    padding-top: 12px;
    border: none;
    background-color: #fff;
    color: #797979;
    border: 1px solid #797979;
    border-radius: 50px;
    cursor: pointer;
    letter-spacing: 1px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 200px;
    transition: 0.2s ease;
}

.submit-button:hover {
    border: 1px solid #454545;
    color: #454545;
}

button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}



/* Styles for the popup modal */
.popup-modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 9999;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #fff;
}

.popup-modal img {
    position: absolute;
    top: 100px;
    left: 30%;
    height: 40px;
    width: 40px;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #757575;
    z-index: 10;
    background: transparent;
}

.popup-modal img:hover {
    background: #f9f9f9;
}

.popup-content {
    position: fixed;
    background-color: #fff;
    padding: 20px;
    width: 60vw;
    height: 60vh;
    left: 20vw;
    top: 25vh;
    text-align: center;
    border-radius: 5px;
    z-index: 2;
}

.popup-content h2 {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
    font-weight: 200;
    font-size: 24px;
    font-family: 'Roboto';
    user-select: none;
}

.popup-content p {
    font-weight: 600;
    font-family: 'Roboto';
    margin-top: 6px;
}

.popup-content .form-group {
    margin-top: 30px;
}

.popup-content .form-group label {
    margin-bottom: 20px;
    font-size: 15px;
    font-family: "Roboto";
    font-weight: 300;
}

.popup-content .form-group input {
    /*width: 60%;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    background: #f0f0f0;
    outline: none;
    margin-top: 10px;
    flex-grow: 1;*/
    width: 60%;
    padding: 8.5px 10px;
    font-size: 15px;
    border: none;
    background: #f0f0f0;
    outline: none;
    flex-grow: 1;
}

.tag-container {
    margin-left: 20%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 4px;
    min-height: 40px;
    align-items: center;

    width: 60%;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    background: #f0f0f0;
    outline: none;
    margin-top: 10px;
}
.tag {
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #000;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
}
.tag button {
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    margin-left: 10px;
    font-size: 17px;
    margin-top: 4px;
}






.popup-content .submit-button {
    font-family: "Roboto";
    padding: 10px 50px;
    padding-top: 12px;
    border: none;
    background-color: #fff;
    color: #797979;
    border: 1px solid #797979;
    border-radius: 50px;
    cursor: pointer;
    letter-spacing: 1px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 70px;
    transition: 0.2s ease;
}

.popup-content .submit-button:hover {
    border: 1px solid #454545;
    color: #454545;
}

.popup-content .submit-button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
