/* Base styles from index.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #ffffff;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    position: fixed;
    height: 100vh;
    top: 0;
    width: 80px;
    background-color: #fff;
    color: #000;
    border-right: 2px solid #e7e7e7;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #000;
}

.sidebar nav ul {
    list-style-type: none;
    text-align: center;
}

.sidebar nav ul li {
    margin: 40px 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 0;
    border-radius: 5px;
}

.sidebar nav ul li a:hover {
}

.sidebar nav ul li a img {
    scale: 1.1;
    filter: invert(33%) saturate(200%) hue-rotate(323deg) brightness(95%) contrast(105%);
}

.sidebar nav ul li a img:hover {
    filter: invert(33%) saturate(200%) hue-rotate(323deg) brightness(95%) contrast(1050%);
}

.sidebar hr {
    border: 0.5px solid #c8c8c8;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 2px solid #e7e7e7;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-bar {
    flex-grow: 1;
    max-width: 500px;
    margin-right: 20px;
}

.search-bar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    outline: none;
    transition: border 0.3s;
}

.search-bar input:focus {
    border-color: #000;
}

.header-icons {
    display: flex;
    align-items: center;
}

.header-icons .icon {
    font-size: 24px;
    margin-right: 20px;
    cursor: pointer;
    color: #000;
    transition: color 0.3s;
}

.header-icons .icon:hover {
    color: #555;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 10px;
    margin-left: -5px
}

#user-name {
    font-weight: bold;
    font-size: 16px;
    color: #000;
}

main {
    flex-grow: 1;
    padding: 0;
    background-color: #fff;
    margin-left: 80px;
    width: calc(100% - 80px);
    padding-bottom: 100px;
}

main h1 {
    font-family: "Roboto";
    /*font-family: "Merriweather", serif;
    font-family: "Open Sans";*/
    font-weight: 600;
    font-style: normal;
    text-align: center;
}

/* Specific styles for create article page */
.create-post-form {
    width: 100%;
    background-color: #fff;
    padding: 30px 250px;
    padding-bottom: 200px;
}

.form-group #image {
    width: 100%;
    padding: 10px 20px;
    background: #f3f3f3;
    border: none;
    outline: none;
    border-radius: 20px;
    overflow-x: scroll;
    margin-bottom: 20px;
}

.form-group #title {
    padding: 10px;
    border: none;
    width: 100%;
    background: #fff;
    outline: none;
    font-size: 25px;
    font-family: "Merriweather", serif;
    font-weight: 600;
    margin-bottom: -16px;
    line-height: 1.5; /* Adjust based on your font size and design */
    min-height: 1.5em; /* This should match the line-height value */
    resize: none; /* Disable manual resizing */
    overflow-y: hidden;
}

.form-group #description {
    padding: 10px;
    border: none;
    width: 100%;
    background: #fff;
    color: #787878;
    outline: none;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 300;
    margin-bottom: -16px;
    line-height: 1.5; /* Adjust based on your font size and design */
    min-height: 1.5em; /* This should match the line-height value */
    resize: none; /* Disable manual resizing */
}

.form-group #content {
    padding: 10px 10px;
    border: none;
    width: 100%;
    background: #fff;
    border: none;
    outline: none;
    font-size: 22px;
    font-family: "Merriweather", serif;
    font-weight: 100;
    font-style: normal;
    line-height: 1.6;
    min-height: 1.5em;
    resize: none;
}

.form-group #content::-webkit-scrollbar {
    display: none;
}

.form-group input[type="file"] {
    width: 100%;
    background: #f7f7f7;
    border: none;
    outline: none;
}

#create-article-form textarea {
    height: 200px;
    resize: vertical;
}

#error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 20px;
}

.submit-button {
    font-family: "Roboto";
    padding: 10px 40px;
    padding-top: 12px;
    border: none;
    background-color: #fff;
    color: #797979;
    border: 2px solid #797979;
    border-radius: 50px;
    cursor: pointer;
    letter-spacing: 1px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 300px;
    transition: 0.2s ease;
}

.submit-button:hover {
    border: 2px solid #454545;
    color: #454545;
}
