* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}

.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #0000008d;
    z-index: 5;
    display: none;
    position: fixed;
}

.container {
    width: 100%;
    height: 100%;
    padding: 0;
    background: #000;
}

.container-image {
    width: 350px;
    height: 350px;
    margin-top: calc(50vh - 175px);
    margin-bottom: calc(50vh - 175px);
    object-fit: cover;
    object-position: center;
    margin-left: calc(30% - 175px);
    margin-right: calc(30% - 175px);
    -webkit-user-drag: none;
    user-select: none;
}

.main-content {
    width: 40%;
    background: #fff;
    padding: 75px;
    padding-top: 35px;
    /*border-left: 1px solid #ddd;*/
}

.top-image-container-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    -webkit-user-drag: none;
    user-select: none;
}

.header-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.header-container-image {
    width: 65px;
    height: 65px;
    object-fit: cover;
    object-position: center;
    margin-top: -10px;
    -webkit-user-drag: none;
    user-select: none;
}

.header-container h1 {
    font-size: 38px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-left: 15px;
    -webkit-user-drag: none;
    user-select: none;
}

.sign-up-container {
    margin-top: 67vh;
    transform: translateY(-50vh);
    display: flex;
    flex-direction: column;
    min-width: 550px;
}

.sign-up-container h1 {
    font-size: 26px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    letter-spacing: 0.6px;
}

.create-account-button {
    padding: 13px 10px;
    width: 300px;
    background: #1d9bef;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    transition: none;
    margin-top: 10px;
    user-select: none;
}

.create-account-button:hover {
    background: #1a8edb;
}

.terms-conditions {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    width: 300px;
    margin-top: 25px;
    letter-spacing: 0.2px;
}

.terms-conditions a {
    text-decoration: none;
    color: #1a8edb;
}

.terms-conditions a:hover {
    text-decoration: underline;
}

.horizontal-line-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
    width: 300px;
}

.line {
    flex-grow: 1;
    border: 0;
    border-top: 1px solid #dbdbdb;
}

.text {
    margin: 0 10px;
    color: #454545;
    font-size: 14px;
    user-select: none;
}

.sign-in-button {
    padding: 13px 10px;
    width: 300px;
    background: transparent;
    color: #1d9bef;
    outline: 1px solid #ddd;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    transition: none;
    margin-top: 0;
    user-select: none;
}

.sign-in-button:hover {
    outline: 1px solid #757575;
    background: transparent;
}

.sign-in-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 550px;
    max-height: 95vh;
    background: #fff;
    border-radius: 13px;
    display: none;
    z-index: 10;
}

.sign-in-form-header {
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.close-button {
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    -webkit-user-drag: none;
    user-select: none;
}

.close-button:hover {
    filter: invert(33%) saturate(200%) hue-rotate(323deg) brightness(95%) contrast(1050%);
}

.logo {
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: center;
    margin-left: 240px;
    user-select: none;
    -webkit-user-drag: none;
}

.sign-in-form-main {
    padding-left: 120px;
    padding-right: 120px;
    width: 100%;
}

.sign-in-form-main h1 {
    margin-top: 25px;
    margin-bottom: 35px;  
    font-size: 30px;  
}

.email-input, .password-input {
    width: 100%;
    border: 1px solid #ddd;
    padding: 16px 14px;
    outline: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

.email-input:focus, .password-input:focus {
    border: 1px solid #1d9bef;
    outline: 1px solid #1d9bef;
}

.sign-in-form-main a {
    text-decoration: none;
    color: #1a8edb;
    font-size: 15px;
}

.sign-in-form-main a:hover {
    text-decoration: underline;
}

.sign-in-login-button {
    width: 100%;
    padding: 16px;
    background: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50px;
    border: none;
    outline: none;
    margin-top: 90px;
    transition: none;
    user-select: none;
}

.sign-in-login-button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

.sign-in-forgot-button {
    width: 100%;
    padding: 16px;
    background: transparent;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    border-radius: 50px;
    border: none;
    outline: 1px solid #757575;
    margin-top: 15px;
}

.sign-in-forgot-button:hover {
    background: transparent;
}

.error-message {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}



















/* Profile content section */
.profile-content {
    background-color: #ffffff;
    border-radius: 13px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 550px;
    max-height: 95vh;
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    padding: none;
    overflow-y: hidden;
}

/* Hide all steps by default */
.step {
 /* Push button to bottom */
 padding-left: 80px;
 padding-right: 80px;
 width: 100%;
}

/* Display step containers */
#step-1, #step-2, #step-3, #step-4 {
    display: flex;
    flex-direction: column;
}

/* Styling for step header */
.step-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
    user-select: none;
}

/* Styling for step header h2 
.step h2 {
    margin-top: 0;
    margin-bottom: 55px;  
    font-size: 30px;
}*/

/* Styling for step header button */
.step button {
    background-color: #1d9bef;
    color: #ffffff;
    border: none;
    padding: 16px 20px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
    transition: none;
    user-select: none;
}

.step button:hover {
    background-color: #1a8cd8;
}

/* Title and instructions */
.profile-content h1 {
    margin-top: 5px;
    margin-bottom: 15px;  
    font-size: 30px;  
}
/*
.profile-content h2 {
    margin-top: 5px;
    margin-bottom: 55px;  
    font-size: 30px;  
}*/

.profile-content .form-span {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 5px;
}

.form-p {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-top: 0px;
    color: #757575;
}

.date-input-container {
    position: relative;
    margin: 1em 0;
}

.date-input-container label {
    font-size: 1em;
    margin-bottom: 0.5em;
    display: block;
    color: #333;
}

.date-input-container input[type="date"] {
    width: 100%;
    padding: 14px 14px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: none;
    cursor: text;
}

.date-input-container input[type="date"]:focus {
    outline: 1px solid #1a8cd8;
    border: 1px solid #1a8cd8;
}

.input-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Adjust the size as needed */
    height: 20px; /* Adjust the size as needed */
    background: url('path/to/calendar-icon.svg') no-repeat center; /* Add your calendar icon */
    background-size: contain;
    pointer-events: none; /* Prevent interaction with the icon */
}



.last-h1 {
    margin-top: 0px;
    margin-bottom: 15px;  
    font-size: 30px;

}

/* Profile image styling */
.profile-image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}

#profile-image {
    width: 250px;
    height: 250px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    object-fit: cover;
    border: 2px solid #ddd;
    margin-bottom: 0;
    margin-top: 0;
}

#change-image-btn {
    background-color: transparent;
    color: #757575;
    /*border: 1px solid #757575;*/
    border: none;
    padding: 4px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 240px;
    margin-top: 0px;
}

#change-image-btn:hover {
    background-color: transparent;
    color: #454545;
    border: 0px solid #454545;
}

.form-new {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: -10px;
    margin-bottom: 25px;
    color: #757575;
}

#sign-up-btn {
    background-color: #1d9bef;
    color: #fff;
    border: none;
    padding: 16px 20px;
    width: 100%;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 50%;
    transform: translateX(-50%);
    display: block;
    margin-top: 20px;
}

#sign-up-btn:hover {
    background-color: #1a8cd8;
}

#sign-up-btn[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

/*
button {
    background-color: #1d9bf0;
    color: #ffffff;
    border: none;
    padding: 11px 35px;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    width: 40%;
    margin-left: 30%;
    align-self: center;
    margin-top: auto;
}

button:hover {
    background-color: #1a8cd8;
}*/

#profile-name, #profile-password, #profile-email {
    width: 100%;
    border: 1px solid #ddd;
    padding: 16px 14px;
    outline: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 15px;
}

.form-span-p {
    margin-top: 40px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

#profile-name:focus, #profile-password:focus, #profile-email:focus {
    border: 1px solid #1d9bef;
    outline: 1px solid #1d9bef;
}

#profile-bio {
    font-family: "Roboto", sans-serif;
    resize: none;
    height: 200px;
    width: 100%;
    border: 1px solid #ddd;
    padding: 16px 14px;
    outline: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
}

#profile-bio:focus {
    border: 1px solid #1d9bef;
    outline: 1px solid #1d9bef;
}

#char-count {
    width: 100%;
    margin-top: 0;
    color: #757575;
    font-weight: 400;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    text-align: right;
    user-select: none;
}

/* Visibility and animation of the next button */
#next-btn {
    padding: 9px 30px;
}

/* Styling for the ensure message */
#please-ensure {
    color: #d93025;
    display: none;
    margin-top: 30px;
    text-align: center;
}

.mobile-not-allowed {
    display: none;
    z-index: 0;
}

@media (max-width: 900px) {
    .mobile-not-allowed {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        color: #000;
        text-align: center;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        font-family: "Roboto", sans-serif;
        flex-direction: column;
    }

    .mobile-not-allowed img {
        width: 60px;
        height: 60px;
        margin-bottom: 30px;
    }
    
    .mobile-warning-container {
        background-color: #fff;
        padding: 14%;
        border-radius: 8px;
        width: 100%;
        margin: auto;
        font-family: "Roboto", sans-serif;
    }

    .mobile-warning-container h1, p, #mobile-ok-button {
        font-family: "Roboto", sans-serif;

    }

    .mobile-warning-container p {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        color: #454545;
        margin-bottom: 50px;
    }

    .mobile-warning-container a {
        margin-top: 40px;   
    }
    
    #mobile-ok-button {
        margin-bottom: -50px;
        padding: 14px 100px;
        border: none;
        background-color: #1a8cd8;
        color: white;
        border-radius: 50px;
        cursor: pointer;
        text-decoration: none;
    }

    #mobile-ok-button:hover, #mobile-ok-button:active {
        opacity: 0.8;
    }

    body {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .container {
        width: 100vw;
        height: 100vh;
        display: none;
    }

    .main-content {
        width: 100%;
        align-items: center;
        margin-left: 50%;
        transform: translateX(-50%);
        height: 100%;
    }

    .sign-up-container {
        /*padding-left: calc(50% - 150px);
        padding-right: calc(50% - 150px);*/
        width: fit-content;
        align-items: center;
    }

    .container-image {
        display: none;
        width: 0;
    }

    .sign-in-form {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        height: 100vh;
        min-height: 100vh;
        background: #fff;
        border-radius: 0;
        display: none;
        z-index: 10;
    }

    .sign-in-form-main {
        padding-left: 60px;
        padding-right: 60px;
        width: 100%;
    }

    .profile-content {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        height: 100vh;
        min-height: 100vh;
        background: #fff;
        border-radius: 0;
        display: none;
        z-index: 10;
    }

    .step {
        padding-left: 60px;
        padding-right: 60px;
    }

    .header-container-image {
        margin-left: 50%;
        transform: translateX(-50%);
        width: 55px;
        height: 55px;
    }

    /*.sign-up-container h1 {
        margin-left: 30px;
    }*/

    .logo {
        width: 45px;
        height: 45px;
        object-fit: cover;
        object-position: center;
        margin-left: 41%;
        transform: translateX(-50%);
        user-select: none;
        -webkit-user-drag: none;
    }

    .sign-in-form-header {
        margin-top: 20px;
    }

    .close-button {
        margin-left: 20px;
    }
}
